<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ca.rgb"
    android:versionCode="5"
    android:versionName="v2.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Color Tap Frenzy"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity android:name=".TopTenScore"></activity>
        <activity android:name=".ButtonsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayActivityTimeAttack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayActivityClassic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayActivityEightHard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2037874631253623~2347238577" />
    </application>

</manifest>